*~

**/.cm
**/*.swp

**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/*.aux.make
**/*.auxbbl.make
**/*.auxbbl.make.temp
**/*.auxtarget.make
**/*.bbl
**/*.blg
**/*.d
**/*.fls
**/*.out.make
**/cmlib/*
**/.DS_Store
**/*.cache

# Coq's compilation files
*.vo
*.vok
*.vos
*.glob

**/*.fdb_latexmk
doc/main.pdf
sml2coq.amd64-darwin

